*{
    margin: 0;
    padding: 0;
} 
/* header-section-start */
.header-section{
    width: 100%;
}
.header-top{
    background: #F7F7F7;
}
.top-header-left{
    width: 100%;
    margin-left: 100px;
    padding: 7px;
    
}
.left{
    display: inline-block;
}
.top-header-left p{
font-size: 15px;
color: #332e2ed8;
}
.top-header-left ul{
    margin-left: 30px;
}
.top-header-left ul li{
    display: inline-block;
    width: 30px;
  }
  .top-header-left ul li a{
    color: #3753F7;
    font-size: 14px;
   }

   .mail{
      margin-left: 800px;
  }
  .mail ul li a {
      text-decoration: none;
     
  }
  .mail ul li a p{
    color: #332e2ed8;
    font-size: 15px;
  }


  .header-middle{
      width: 100%;
      display: inline-block;
      background: #FFFFFF;
  }
  
  .middle-left{
      
      width: 30%;
  }
 .logo{
     float: left;
     width: 40%;
 }
 .logo img{
     margin-left: 100px;
     padding: 10px;
 }
 .logo h3{
     font-size: 20px;
     margin-top: 30px;
     margin-left: 10px;

 }
 .middle-right{
    width: 90%;
 }
 
.mid-icon{
    margin-left: 50px;
    float: right;
}
.call a i{
    font-size: 20px;
    color: rgb(12, 12, 231);
    margin-top: 15px;
    padding: 10px;
}

.call{
    float: left;
    padding: 5px;
}
.call p{
    margin-top: 20px;
    font-size: 14px;
    color: rgba(41, 36, 36, 0.822);
}
.call h4{
    padding: 5px;
    font-size: 15px;
}
.mid-icon img{
    padding: 10px;

}

.header-menu{
    background-color: #1662DC;
    }
    
    .header-menu ul{
        text-align: left;
        margin-left: 130px;
    }
    .header-menu ul li{
        display: inline-block;
        margin-left: 4px;
    }
    .header-menu ul li a{
        color: #FFFFFF;
        padding: 12px 17px;
        display: inline-block;
        font-size: 18px;
        text-decoration: none;
        
    }
    
    .header-menu ul li:hover > a{
        background: #2d60b3;
    }
    
    /* Hover part start */
    .header-menu ul li ul{
        opacity: 0;
        visibility: hidden;
         transform: scaleY(0);
        transform-origin: top center;
        
    
    }
    .header-menu ul li:hover ul{
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }
    /* Hover part end */
    
/* header-section-end */



/* slider-section-start */
.slider{
    
	width: 1349px;
	height: 600px;
    background-image: url("images/building-image-big.jpg");
	background-size: 100% 100%;
	animation: slider 10s infinite;
}
@keyframes slider{
	0%{
		background-image: url("images/building-image-big.jpg");
	}
	25%{
		background-image: url("images/building.jpg");
	}
	50%{
		background-image: url("images/building-image-big.jpg");
    }
    75%{
        background-image: url("images/building.jpg");
    }


}
.slider h1{
    text-align: center;
    color: #FFFFFF;
    padding: 150px;
    font-size: 40px
}
.slider h4{
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
}
.slider p{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    width: 500px;
    margin-left: 400px;
}
button{
    margin-left: 600px;
    background: none;
    border: 2px solid#ddd;
    padding: 8px 20px 8px;
    border-radius: 20px;

}
button a{
    font-size: 16px;
    text-decoration: none;
   color: #FFFFFF;
}
button:hover{
    background: blanchedalmond;
}
button a:hover{
    color: blue;
}
/* slider-section-end*/


/* about-section-start */
     .about-section{}
    .about-text{
        padding: 50px;
        display: block;
    }
    .about-text p{
        text-align: center;
        padding: 10px;
        font-size: 18px;
        color: rgb(29, 27, 27);
    }
    .about-text h3{
        text-align: center;
        padding: 10px;
        font-size: 25px;
        color: #3895D4;
    }
    .about-box{
        width: 100%;
        padding: 30px;
        display: inline-block;
        
        
    }
    .home{
        display: inline-block;
        width: 15%;
        text-align: center;
        border: 2px solid rgb(93, 93, 248);
        padding: 15px;
        margin-left: 70px;
        border-radius: 15px;
    }
    .home a{
       font-size: 80px;
       color: #0089EB;
    }
    .home p{
        font-size: 18px;
        color: rgb(46, 42, 42);
    }
    .home h3{
        font-size: 30px;
        padding: 10px;
    }
/* about-section-end */


/* akij-section-start */
  .akij-section{
      display: inline-block;
      width: 100%;
      background-color: #E7F0FD;
  }
  .akij{ 
    float: left;
     width: 40%;
        margin-left: 50px;
  }
  .akij img{
      width: 80%;
      margin-top: 10px;
      border-radius: 5px;
  }
  .akij p{
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      padding-top: 20px;
  }
  .akij h2{
      margin-top: 70px;
      text-align: left;
      font-size: 28px;
  }
  .btn{
      margin-top: 20px;
    margin-left: 20px;
    background: #00BAF9;
    border: 2px solid#ddd;
    padding: 14px 30px 14px;
    border-radius: 50%px;
  }
  .btn a{
      color: #FFFFFF;
  }
.btn:hover{
    color: #FFFFFF;
    background: #00BAF9;
}


/* profile-section */

.profile-section{
    background-color: #FFFFFF;
    display: inline-block;
}
.profile-text h2{
    color: #00BAF9;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.profile-text p{
    text-align: center;
    width: 50%;
    margin-left: 300px;
    padding: 20px;
    font-size: 18px;
}
.profile-img{
    padding: 50px;
}
.profile-img .logo{
    width: 18%;
    
}
.profile-img .logo img{
    width: 60%;

}
/* .profile-section-end */

.Strategies-section{
    width: 100%;
    background-color: #386AB1;
}
.Strategies{
    background-color: #386AB1;
    width: 50%;
    float: left;
   
}
.Strategies h4{
    text-align: center;
    width: 200px;
    color: #F7F7F7;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    padding: 30px;

}
.Strategies h1 {
   color: #F7F7F7;
   font-size: 30px;
   margin-left: 60px;
   padding: 20px;
   

}
.Strategies p {
    color: #F7F7F7;
    font-size: 18px;
    margin-left: 60px;
    padding: 20px;
    padding-bottom: 114px;
    
 
 }
/* product-section-start */

.product-section{}
.product-text{
   padding-top: 50px;
}
.product-text h2{
    color: #00BAF9;
    font-size: 30px;
    text-align: center;
    
}
.product-text p{
    text-align: center;
    width: 50%;
    margin-left: 300px;
    padding: 10px;
    font-size: 17px;
}

.product-img{
 padding: 50px;
}
.product-img img{
   width: 13%; 
   border: 1px solid rgb(212, 201, 201);
   height: 170px;
   margin-left: 10px;
   border-radius: 5px;
   background-color: #D8F2FF;
}


/* product-section-end */
.subscribe-section{
    width: 100%;
    background-image: url(images/building.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.sub-text h2{
    color: #F7F7F7;
    text-align: center;
    padding: 70px;
    font-size: 30px;

}
.sub-text h3{
    color: #F7F7F7;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.sub-input{
    text-align: center;
    padding-bottom: 100px;
}
input{
    padding: 7px;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    
}
/* footer-section-start */
.footer-section{
    background: #005DC7;
    padding: 30px;
}
.footer{
    width: 40%;
    display: inline-block;
    margin-left: 100px;
}
.footer img{
    width: 20%;
    margin-left: 70px;
    padding: 20px;
 
}
.footer h1{
    font-size: 18px;
    color: azure;
    margin-left: 70px;
}
.footer p{
    color: beige;
    padding-top: 5px;
}
.footer h3{
    margin-left: 20px;
    padding: 10px;
    color: beige;
}
.footer ul{
    margin-left: 20px;
}
.footer ul li{
  display: inline-block;
    width: 40px;
}
    
   
   

.footer ul li a{
    color: #F7F7F7;
    font-size: 18px;
    margin-left: 10px;
    
    

}
.footer h2{
    color: #F7F7F7;
    font-size: 30px;
    text-align: left;
    
}
.footer .div{
    padding-top: 20px;
}
.footer .div a{
    color: #F7F7F7;
    font-size: 16px;
    text-decoration: none;
    
}

footer{
    text-align: center;
    color: #F7F7F7;
    font-size: 16px;
    padding-top: 10px;
}



/* footer-section-end */


